#title{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 80px;
    color: #80C141;
    margin-top: -130px;
}
.journalImage{
    background-image:url('/assets/images/journal.jpg');
    background-size:cover;
    background-position:303% 303%;
    margin-left: 220px;
    border-radius: 10px;
    width: 1000px;
    height: 1000px;
    margin-top: -20px;
    overflow-y: scroll;
}
.date{
    font-size: 20px;
    color: #177890;
    margin-left: 30px;
    font-weight: bolder;
}
td{
    width: 210px;
    padding-left: 20px;
}
.row{
    margin-left: 50px;
}
.meal{
    font-size: 20px;
    color: #80C141;
}
.snack{
    font-size: 20px;
    color: #80C141;
}
.item{
    font-size: 20px;
    color: #177890;
}
.deleteButton{
    margin-left: 50px;
    margin-top: 10px;
}



