<p class="text-center" id='title'>JOURNAL STOP</p>
<div class="journalImage">
    <div *ngFor="let foodlog of foodlogs">
        <p [routerLink]="['/stopandview/' + foodlog._id]" class="date pt-5 pl-3">DATE: {{ foodlog.date | date:'fullDate'}}
        </p>
        <div class="row">
            <table>
                <tbody>
                    <tr>
                        <th scope="row" class="meal">BREAKFAST</th>
                        <td class="item">{{foodlog.breakfast}}</td>
                        <th scope="row" class="snack">MORNING SNACK</th>
                        <td class="item">{{foodlog.am_snack}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row" class="meal">LUNCH</th>
                        <td class="item">{{foodlog.lunch}}</td>
                        <th scope="row" class="snack">AFTERNOON SNACK</th>
                        <td class="item">{{foodlog.pm_snack}}</td>
                        <td><button class="btn btn-danger deleteButton" (click)="deleteFoodlog(foodlog)">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="meal">DINNER</th>
                        <td class="item">{{foodlog.dinner}}</td>
                        <th scope="row" class="snack">LATE NIGHT SNACK</th>
                        <td class="item">{{foodlog.bedtime_snack}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>