#title{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 80px;
    color: #80C141;
    margin-top: -130px;
}
.wrapper-vertically-limited {
    margin-left: 70px;
    width: 1300px;
    height: 600px;
    background-color: #177890b4;
    margin-top: -20px;
    font-size: 30px;
}

