.jumbotron{
    margin-left: 300px;
    background-color: #177890b4;
    border-radius: 10px;
    height: 500px;
    margin-top: -70px;
}
h1{
    color: #80C141;
}
#titleborder{
    height: 2px;
    width: 500px;
    margin-left: 170px;
    background-color: #80C141;
}
.btn{
    margin-left: 350px;
    margin-top: 20px;
    width: 150px;
}