.morning{
    margin-left: 250px;
    margin-top: 170px;
}
.lunch{
    margin-left: 250px;
    margin-top: 50px;
}
.dinner{
    margin-left: 250px;
    margin-top: 50px;
}
.title{
    margin-left: 190px;
    margin-bottom: 30px; 
}
