<div class='morning'>
    <h2 class='title'> Food Log</h2>
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Morning</span>
        </div>
        <input type="text" name='' placeholder="">

        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Snack</span>
        </div>
        <input type="text" name='' placeholder="">
    </div>
</div>
<div class='lunch'>
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Lunch</span>
        </div>
        <input type="text" name='' placeholder="">

        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Snack</span>
        </div>
        <input type="text" name='' placeholder="">
    </div>
</div>

<div class='dinner'>
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Dinner</span>
        </div>
        <input type="text" name='' placeholder="">

        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Snack</span>
        </div>
        <input type="text" name='' placeholder="">
    </div>
    <div class='button'>
        <button (click)="addLog()" class="btn btn-light">Create</button>

    </div>
</div>