.logImage{
    background-image:url('/assets/images/plate.png');
    background-size:cover;
    background-position:50% 50%;
    margin-left: 370px;
    width: 680px;
    height: 680px;
    display: inline-block;
}
#title{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 80px;
    color: #80C141;
    margin-top: -130px;
}
.box{
    margin-left: 140px;
    margin-top: 120px;
    width: 400px;
    height: 200px;
}
.boxText{
    writing-mode: vertical-lr;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #177890;

}
.boxText1{
    writing-mode: vertical-lr;
    color: #177890;
    margin-left: 70px;
}
.button{
    background-color: #80C141;
    color: white;
    margin-left: 160px;
    margin-top: 40px;
}