.morning{
    margin-left: 340px;
    margin-top: 40px;
}
.lunch{
    margin-left: 340px;
    margin-top: 50px;
}
.dinner{
    margin-left: 340px;
    margin-top: 50px;
}
.title{
    margin-left: 200px;
    margin-bottom: 30px; 
}
.button{
    margin-left: 220px;
    margin-top: 30px; 
}