<p class="text-center" id='title'>STOP & EDIT</p>

<div class="logImage">
    <div class="box">
        <div class="date row">
            <p class="boxText1 d-inline-block"> Date </p><input type="date"class="d-inline-block form-control col-7" name='editlog.date' [(ngModel)]="editlog.date"
            placeholder="">
        </div>

        <div class='morning'>
            <p class="boxText d-inline-block">Breakfast </p><textarea class="d-inline-block form-control col-10" id="boxTextBody" rows="3"
                    name='editlog.breakfast' [(ngModel)]="editlog.breakfast"
                    placeholder="What did you eat this morning?"></textarea>
            <p class="boxText1 d-inline-block">Snack </p><textarea class="d-inline-block form-control col-7" id="exampleFormControlTextarea1" rows="2"
                    name='editlog.am_snack' [(ngModel)]="editlog.am_snack"
                    placeholder="What snacks did you eat this morning?"></textarea>
        </div>

        <div class='lunch'>
            <p class="boxText d-inline-block lunchy">Lunch </p><textarea class="d-inline-block form-control col-10" id="exampleFormControlTextarea1" rows="3"
                    name='editlog.lunch' [(ngModel)]="editlog.lunch"
                    placeholder="What did you eat for lunch?"></textarea>
            <p class="boxText1 d-inline-block">Snack </p><textarea class="d-inline-block form-control col-7" id="exampleFormControlTextarea1" rows="2"
                    name='editlog.pm_snack' [(ngModel)]="editlog.pm_snack"
                    placeholder="What snacks did you eat this afternoon?"></textarea>
        </div>

        <div class='dinner'>
            <p class="boxText d-inline-block dinny">Dinner </p><textarea class="d-inline-block form-control col-10" id="exampleFormControlTextarea1" rows="3"
                    name='editlog.dinner' [(ngModel)]="editlog.dinner"
                    placeholder="What did you eat this evening?"></textarea>
            <p class="boxText1 d-inline-block">Snack </p><textarea class="d-inline-block form-control col-7" id="exampleFormControlTextarea1" rows="2"
                    name='editlog.bedtime_snack' [(ngModel)]="editlog.bedtime_snack"
                    placeholder="Did you sneak in an evening? Don't lie..."></textarea>
        </div>
        <button (click)="updateFoodlog()" class="btn submitButton">SUBMIT</button>
        <button class="btn btn-danger cancelButton ml-3" [routerLink]="['/journalstop']">CANCEL</button>
    </div>
</div>
