<table class='table'>
        <thead>
            <tr>
                <th scope="col">Breakfast</th>
                <th scope="col">Lunch</th>
                <th scope="col">Dinner</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{foodlog.breakfast}}</td>
                <td>{{foodlog.am_snack}}</td>
                <td>{{foodlog.lunch}}</td>
                <td>{{foodlog.pm_snack}}</td>
                <td>{{foodlog.dinner}}</td>
                <td>{{foodlog.bedtime_snack}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn button">edit</button>