<p class="text-center" id='title'>STOP & VIEW</p>

<div class="plateImage">
    <p> DATE: {{ foodlog.date }}</p>
    <p>BREAKFAST</p>
    <p class="pt-1 pl-4">{{foodlog.breakfast}}</p>
    <p class="pt-1 pl-5">SNACK</p>
    <p class="pt-1 pl-5">{{foodlog.am_snack}}</p>

    <p>LUNCH</p>
    <p>{{foodlog.lunch}}</p>
    <p>SNACK</p>
    <p>{{foodlog.pm_snack}}</p>

    <p>DINNER</p>
    <p>{{foodlog.dinner}}</p>
    <p>SNACK</p>
    <p>{{foodlog.bedtime_snack}}</p>
    <button class="btn btn-dark" [routerLink]="['/editlog/'+ foodlog._id]">EDIT</button>
</div>