<p class="text-center" id='title'>STOP & VIEW</p>

<div class="plateImage">
        <p class="date">Date: {{ foodlog.date | date:'fullDate'}}</p>
        <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <th scope="row" class="meal">BREAKFAST</th>
                            <td class="item">{{foodlog.breakfast}}</td>
                            <th scope="row" class="snack">MORNING SNACK</th>
                            <td class="item">{{foodlog.am_snack}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="meal">LUNCH</th>
                            <td class="item">{{foodlog.lunch}}</td>
                            <th scope="row" class="snack">AFTERNOON SNACK</th>
                            <td class="item">{{foodlog.pm_snack}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="meal">DINNER</th>
                            <td class="item">{{foodlog.dinner}}</td>
                            <th scope="row" class="snack">LATE NIGHT SNACK</th>
                            <td class="item">{{foodlog.bedtime_snack}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        <button class="btn btn-dark submitButton" [routerLink]="['/stopandedit/'+ foodlog._id]">EDIT</button>
        <button class="btn btn-danger ml-3 cancelButton" [routerLink]="['/journalstop']">CANCEL</button>
</div>