#title{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 80px;
    color: #80C141;
    margin-top: -130px;
}
.box{
    margin-left:300px;
    width: 800px;
    height: 400px;
    background-color: #177890b4;
    margin-top: -10px;
    border-radius: 10px;
}
.message{
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: aliceblue;
}
.button{
    text-align: center;
    padding-top: 100px;

}