<div class="homeImage">
    <img src="/assets/images/logo.svg" alt="">
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <button class="btn text-light p-3" [routerLink]="['/home']">HOME<span class="sr-only">(current)</span></button>
                </li>

                <li class="nav-item">
                    <button class="btn text-light p-3" [routerLink]="['/foodstop']">FOOD STOP</button>
                </li>

                <li class="nav-item">
                    <button class="btn text-light p-3" [routerLink]="['/calendarstop']">CALENDAR STOP</button>
                </li>

                <li class="nav-item">
                    <button class="btn text-light p-3" [routerLink]="['/nutritionstop']">NUTRITION STOP</button>
                </li>

                <li class="nav-item moveLeft">
                    <a class="btn btn-dark p-3" href="">SIGN UP</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light ml-3 login" href=""><i class="glyphicon glyphicon-user mr-3"></i> LOGIN</a>
                </li>

            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>